* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.scss linguist-detectable=false
*.css linguist-detectable=false
*.less linguist-detectable=false

/.github export-ignore
CHANGELOG.md export-ignore
